---
import './footer.scss';
---

<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <!-- <a href="" class="footer__logo">
                <img src="../images/logo-nobg.png" alt="Logo">
            </a> -->
            <a href="index.html" class="footer__logo"><p>Redinherd</p></a>
            <div class="nav__menu" id="nav-menu">
            <p class="footer__description">Соціальні мережі:</p>
            <div class="footer__social">
                <a href="https://web.telegram.org/a/#-1002299702195" class="footer__social-link"><i class="bx bxl-telegram"></i></a>
                <a href="https://www.facebook.com/share/1Jo43MHBgQ/?mibextid=wwXIfr" class="footer__social-link"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/redinherd_piercing?igsh=ZWR5b2JmdnF3a3I1" class="footer__social-link"><i class="bx bxl-instagram-alt"></i></a>
            </div>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">Про нас</h3>
            <ul class="footer__links">
                <li><a href="about.html"class="footer__link">Майстри</a></li>
                <li><a href="https://bookon.ua/lite/redinherd_piercing?fbclid=PAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw-SJxdVH3QhlQ" target="_blank" class="footer__link">Онлайн запис</a></li>
            </ul>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">Наші послуги</h3>
            <ul class="footer__links">
                <li><a href="contact.html"class="footer__link">Графік роботи</a></li>
                </li>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">Компанія</h3>
            <ul class="footer__links">
                <li><a href="#"class="footer__link">Реестрація</a></li>
                <li><a href="contact.html"class="footer__link">Контакти</a></li>
        </div>
    </div>
    <span class="footer__copy"><p>Сайт розроблено: <a target="_blank" href="http://papchenko.com">papchenko.com</a></p>Всі права захищені.</span>
</footer>
<a href="#" class="scrollup" id="scroll-up"><i class="bx bx-up-arrow-alt scrollup__icon"></i></a>