---
import './services.scss';
---

<section class="blog section container">
    <h2 class="breadcrumb__title">Послуги</h2>
    <h3 class="breadcrumb__subtitle"><a href="/Redinherd/index">Головна</a> > <span>Список Послуг</span></h3>
    <div class="blog__container grid">
        <div class="blog__post grid">
            <div class="blog__info">
                <div class="blog__details">
                    <h3>✨Всі ціни вказані без урахування прикрас:</h3>
                    <p>🌿Мочка</p> 
                    <p>🌿Хелікс</p> 
                    <p>🌿Флет</p> 
                    <p>🌿Конча</p> 
                    <p>🌿Дейт</p>
                    <p>🌿Форвард хелікс</p> 
                    <p>🌿Руук</p>
                    <p>🌿Трагус 
                    <p>🌿Антітрагус</p>
                    <p>🌿Індастріал</p> 
                    <p>🌿Брова</p> 
                    <p>🌿Брідж</p> 
                    <p>🌿Крило носа</p> 
                    <p>🌿Септум</p> 
                    <p>🌿Губа (всі варіанти)</p> 
                    <p>🌿Язик</p> 
                    <p>🌿Пупок</p> 
                    <p>🌿Сосок</p> 
                    <p>🌿Мікродермал</p> 
                    <p>🌿Площинний</p>
                    <br>
                    <h3>✨Інші послуги:</h3>
                    <p>🌿Консультація - безкоштовно</p>
                    <p>🌿Консультація від іншого майстра</p>
                    <p>🌿Даунсайз</p> 
                    <p>🌿Апсайз</p> 
                    <p>🌿Чистка прикрас/проколу</p> 
                    <p>🌿Поновлення проколу</p> 
                    <p>🌿Чистка/видалення мікродермалу</p> 
                    <p>🌿Лікування проколу від іншого майстра (всі подальні консультації і доведення до загоєння)</p>
                    <br>
                    <h3>✨Базові прикраси в наявності</h3>
                    <h2>Ціни уточнювати у Адміністратора!</h2>
            </div>
        </div>
    </div>
    </div>
</section>