---
import './masters.scss';
---

<section class="about section container">
    <h2 class="breadcrumb__title">Майстри</h2>
    <h3 class="breadcrumb__subtitle"><a href="/Redinherd/index">Головна</a> > <span>Майстри</span></h3>
    <div class="about__container grid">
            <img src="../images/Avatar.JPG" alt="About" class="about__img">
            <div class="about__data">
                <h2 class="section__title about__title">Біографія майстра</h2>
                <h2 class="about__subtitle">Музлаєва Марія Сергіївна</h2>
                <p class="about__description">
                    Мене звуть Марія, свою карʼєру пірсера я почала з чітким бажанням звільнити людей від страшного клеймування, яким нагороджували дітей і дорослих «майстри» пістолетчики. Мені прокололи вуха коли мені було 6 років і заразили золотистим стафілококом, таких історій занадто багато, щоб не звернути на це увагу і не бити в тривогу. Моя свідомість забила тривогу в підлітковому віці, коли такі «майстри» заполонили моє рідне місто в Полтавській області і я чітко вирішила, що стану головним прикладом для людей, зо пірсинг може бути не тільки безпечним, а ще й естетичним. 
                    Моє навчання почалось в 2016му році, більш свідомо до своєї роботи я підійшла в 2019му році, коли ази вже повністю були освоєні від А до Я. 
                    Саме з того року я почала свій тяжкий шлях і розвиток як майстер естетичного і безпечного пірсингу.
                </p>
            </div>
    </div>
</section>