---
import './advantages.scss';
---

<section class="advantages section container">
    <div class="advantages__bg">
        <h1 class="section__title">Наші переваги</h1>
        <div class="advantages__container grid">
            <div class="advantages__card">
                <div class="timeline timeline-1">
                    <div class="timeline-item">
                        <i class="timeline-icon">1</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title"> 9-ти річний досвід майстра</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">2</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Медична освіта майстра</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">3</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Постійні знижки та акційні пропозиції</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">4</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Безкоштовні консультації та рекомендації</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">5</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Контроль процесу загоєння проколу кожного клієнта безстроково</div>
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <div class="timeline timeline-2">
                    <div class="timeline-item">
                        <i class="timeline-icon">6</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Якісні біосумісні прикраси з титану</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">7</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Сучасне обладнання</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">8</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Ціна=якість. Мета – наші клієнти щасливі</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">9</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Гнучкий графік</div>
                    </div>
                    <div class="timeline-item">
                        <i class="timeline-icon">10</i>
                        <h3 class="timeline-date">
                        </h3>
                        <div class="timeline-title">Наші конкуренти - нам не конкуренти, а любі колеги</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>