---
import './new.scss';
---

<section class="new section">
    <h1 class="section__title">Новинки!</h1>
    <div class="new__container container">
        <div class="swiper new-swiper">
            <div class="swiper-wrapper">
                <div class="new__content swiper-slide">
                    <img src="./images/items/55.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title  new__all">Код товару: 155</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
                <div class="new__content swiper-slide">
                    <img src="./images/items/56.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title new__all">Код товару: 154</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
                <div class="new__content swiper-slide">
                    <img src="./images/items/57.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title new__all">Код товару: 153</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
                <div class="new__content swiper-slide">
                    <img src="./images/items/58.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title new__all">Код товару: 152</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
                <div class="new__content swiper-slide">
                    <img src="./images/items/59.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title new__all">Код товару: 151</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
                <div class="new__content swiper-slide">
                    <img src="./images/items/60.JPG" alt="new image" class="new__img">
                    <h3 class="shop__title new__all">Код товару: 150</h3>
                    <a href="/Redinherd/shop/" class="button--link button--flex">Весь асортимент <i class="bx bx-right-arrow-alt button__icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>