.new__container {
    padding-top: 1rem;
}
.new__content {
    position: relative;
    background-color: var(--container-color);
    width: 310px;
    padding: 1rem 0;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}
.new__content:hover .new__button {
    right: 0;
}
.new__content:hover .new__img {
    transform: translateY(-0.5rem);
}
.new__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.new__img {
    width: 150px;
    transition: 0.3s;
    border-radius: 8px;
}
.new__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.new__subtitle {
    display: block;
    font-size: var(--small-font-size);
}
.new__prices {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}
.new__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.new__discount {
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}
.new__button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}
.new__icon {
    font-size: 1.25rem;
}