---
import './steps.scss';
---

<section class="steps section container">
    <div class="steps__bg">
        <h1 class="section__title">Вибір аксесуарів та запис на сеанс</h1>
        <div class="steps__container grid">
            <div class="steps__card">
                <div class="steps__card-number">01</div>
                <h3 class="steps__card-title">Аксесуари</h3>
                <p class="steps__card-description">У нас понад 100+ аксесуарів! Аксесуари можно знайти в розділі <a href="shop.html">Асортимент</a></p>
            </div>
            <div class="steps__card">
                <div class="steps__card-number">02</div>
                <h3 class="steps__card-title">Майстер</h3>
                <p class="steps__card-description">Про майстра можно глянути в розділи <a href="about.html">Майстри</a></p>
            </div>
            <div class="steps__card">
                <div class="steps__card-number">03</div>
                <h3 class="steps__card-title">Запис</h3>
                <p class="steps__card-description">Записатись можно по  <a class="contact__subtitle" href="tel:380955145229">Телефону</a> або за допомогою <a href="https://bookon.ua/lite/redinherd_piercing?fbclid=PAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw-SJxdVH3QhlQ" target="_blank">Онлайн запису!</a></p>
            </div>
        </div>
    </div>
</section>