---
import './info.scss';
---

<section class="contact section container">
    <h2 class="breadcrumb__title">Контакти</h2>
    <h3 class="breadcrumb__subtitle"><a href="/">Головна</a> > <span>Контакти</span></h3>
    <div class="contact__container grid">
        <div>
            <div class="contact__information">
                <i class="bx bx-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Телефон</h3>
                    <a class="contact__subtitle" href="tel:380955145229">+380955145229</a>
                </div>
            </div>
            <div class="contact__information">
                <i class="bx bx-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Єлектронна пошта</h3>
                    <span class="contact__subtitle">rredinherd@gmail.com</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="bx bx-map contact__icon"></i>
                <div>
                    <h3 class="contact__title">Адреса</h3>
                    <span class="contact__subtitle">Львів, Архітекторська 7</span>
                </div>
            </div>
            <div class="contact__information">
                <div class="contact__shedule">
                    <h2 class="shedule__title contact__title">Графік роботи:</h2>
                    <p class="contact__subtitle">Понеділок - Неділля: 10.00 - 18.00</p>
                    <p class="contact__subtitle">Обідя перерва: 13.00 - 14.00</p>
                </div>
            </div>
            <p class="contact__title">Соціальні мережі:</p><br>
            <div class="contact__information">
                <div class="contact__social">
                    <a href="https://web.telegram.org/a/#-1002299702195" class="contact__social-link"><i class="bx bxl-telegram"></i></a>
                    <a href="https://www.facebook.com/share/1Jo43MHBgQ/?mibextid=wwXIfr" class="contact__social-link"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/redinherd_piercing?igsh=ZWR5b2JmdnF3a3I1" class="contact__social-link"><i class="bx bxl-instagram-alt"></i></a>
                </div>
            </div>
            <div class="section__video">
                <p class="contact__subtitle">Де нас знайти, дивитись: <a href="#">ТУТ</a></p>
            </div>
        </div>
        <!-- <form action="" class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="" class="contact__label">Name</label>
                    <input type="text" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Email</label>
                    <input type="email" class="contact__input">
                </div>
            </div>
            <div class="contact__content">
                <label for="" class="contact__label">Subject</label>
                <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
                <labe class="contact__label">Message</labe>
                <textarea name="" cols="0" rows="7" id="" class="contact__input"></textarea>
            </div>
            <div>
                <a href="#" class="button">Send Message</a>
            </div>
        </form> -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.3621703780477!2d24.012628299999996!3d49.8356521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add799d7b3cc7%3A0x8adc63c859df0336!2z0LLRg9C70LjRhtGPINCQ0YDRhdGW0YLQtdC60YLQvtGA0YHRjNC60LAsIDcsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1738662677195!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</section>