---
import './shares.scss';
---

<section class="shares section">
    <div class="shares__container container grid">
        <img src="./images/sales/hvd.jpg" alt="" class="shares__img">
        <div class="shares__data">
            <h2 class="shares__title">Знижка до Дня Святого Валентина</h2>
            <h3 class="shares__sub-title"><span> -25%</span> - Проколи для пар</h3>
            <h3 class="shares__sub-title"><span> -15%</span> - Прикраси</h3>
            <br>
            <a href="tel:380955145229" class="button">Замовити</a>
        </div>
    </div>
</section>