---
import Intro from '@components/home/intro/intro.astro';
import Layout from '../layouts/Layout.astro';
import Steps from '@components/home/steps/steps.astro';
import New from '@components/home/new/new.astro';
import Advantages from '@components/home/advantages/advantages.astro';
import Newsletter from '@components/home/newsletter/newsletter.astro';
---

<Layout title="">
	<main>
		<Intro />
		<Steps />
		<New />
		<Advantages />
		<Newsletter />
	</main>
</Layout>
