---
import Layout from '../layouts/Layout.astro';
// import Filter from '@components/shop/filter/filter.astro';
import Assortment from '@components/shop/assortment/assortment.astro';
---

<Layout title="Асортимент">
	<main>
        <!-- <Filter /> -->
        <Assortment />
	</main>
</Layout>
