---
import './intro.scss';
---

<section class="home">
    <div class="decoration">
        <div class="deco-1 deco-1-animation"></div>
        <div class="deco-2 deco-2-animation"></div>
        <div class="deco-3 deco-3-animation"></div>
        <div class="deco-4 deco-4-animation"></div>
        <div class="deco-5 deco-5-animation"></div>
        <div class="deco-6 deco-6-animation"></div>
    </div>
    <div class="container">
        <div class="intro">
            <img src="./public/images/logo-nobg2.png" data-lightbox="avatar-1"alt="Balby" class="logo-intro-animation">
            <h1 class="intro__title text-intro-animation">№1 Пірсинг студія у Львові</h1>
            <div class="intro__text social-intro-animation">Ми в соціальних мережах</div>
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/redinherd_piercing?igsh=ZWR5b2JmdnF3a3I1"><i class="lni lni-instagram-original social-intro-animation"></i></a></li>
                <li><a href="https://www.facebook.com/share/1Jo43MHBgQ/?mibextid=wwXIfr"><i class="lni lni-facebook social-intro-animation"></i></a></li>
                <li><a href="https://web.telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ"><i class="lni lni-telegram-original social-intro-animation"></i></a></li>
            </ul>
            <div class="scroll-down scroll-intro-animation">
                <a href="#" class="mouse-wrapper">
                    <span>Тягни вниз!</span>
                    <span class="mouse">
                        <span class="wheel"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>