.login {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 420px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: 0.4s;
}
.login__close {
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.25rem;
    right: 0.9rem;
    cursor: pointer;
}
.login__title-center {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: var(--mb-3);
}
.login__form {
    row-gap: 1.5rem;
}
.login__content {
    background: var(--container-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
}
.login__label {
    font-size: var(small-font-size);
    color: var(--title-color);
}
.login__input {
    width: 100%;
    background: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: 0.25rem 0.5rem 0.5rem 0;
}
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.button:hover {
    background: var(--first-color-alt);
}
.signup {
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.signup a {
    color: var(--first-color);
}
.show-login {
    right: 0;
}