---
import './questions.scss';
---

<section class="faq section container">
    <h2 class="breadcrumb__title">Питання</h2>
    <h3 class="breadcrumb__subtitle"><a href="/Redinherd/index">Головна</a> > <span>Питання</span></h3>
    <div class="faq__container grid">
        <h1 class="faq__text">Ми працюємо над цим ;)</h1>
    </div>
</section>