---
import './assortment.scss';
---

<section class="shop section container">
    <h2 class="breadcrumb__title">Асортимент</h2>
    <h3 class="breadcrumb__subtitle"><a href="index.html">Головна</a> > <span>Асортимент</span></h3>
    <div class="shop__container grid">
        <div class="sidebar">
            <h3 class="filter__title">Категорії</h3>
            <div class="filter__content">
                <h3 class="filter__subtitle">Розмір</h3>
                <div class="filter">
                    <input type="checkbox" name="" id="">
                    <p>S</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox" name="" id="">
                    <p>M</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox" name="" id="">
                    <p>L</p> <span>(0)</span>
                </div>
            </div>
        </div>
        <div class="shop__items grid">
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/70.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 110</h3>
                <span class="shop__subtitle">Банан в пупок з опалітом у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/69.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 111</h3>
                <span class="shop__subtitle">Банан в пупок з рожевим кварцем у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/68.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 112</h3>
                <span class="shop__subtitle">Банан в пупок mini з чорним цирконом у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/67.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 113</h3>
                <span class="shop__subtitle">Банан в пупок, жовтий і рожевий циркони</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/66.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 114</h3>
                <span class="shop__subtitle">Банан в пупок білий циркон у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/65.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 115</h3>
                <span class="shop__subtitle">Банан в пупок з місячним каменем у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/64.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 116</h3>
                <span class="shop__subtitle">Банан в пупок з турмаліновим кварцем у пронгу</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/63.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 117</h3>
                <span class="shop__subtitle">Штанги в соски з кластерами з синіми кабашонами цирконів</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/62.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 118</h3>
                <span class="shop__subtitle">Клікери в соски з кільцевими доріжками білих цирконі</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/61.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 119</h3>
                <span class="shop__subtitle">Штанги в соски з кабашонами білих цирконів</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/60.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 120</h3>
                <span class="shop__subtitle">Штанги в соски з фіолетовими кабашонами</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/59.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 121</h3>
                <span class="shop__subtitle">Штанги в соски з фіолетовими кабашонами</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/58.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 122</h3>
                <span class="shop__subtitle">Клікери в соски з білими цирконами з серцем посередині</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/57.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 123</h3>
                <span class="shop__subtitle">Клікер вогник (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/56.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 124</h3>
                <span class="shop__subtitle">Клікер вогник (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/55.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 125</h3>
                <span class="shop__subtitle">Клікер Азія (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/54.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 126</h3>
                <span class="shop__subtitle">Клікер подвійна крапля (ніс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/53.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 127</h3>
                <span class="shop__subtitle">Клікер клики (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/52.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 128</h3>
                <span class="shop__subtitle">Клікер мереживний (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/51.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 129</h3>
                <span class="shop__subtitle">Клікер багет (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/50.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 130</h3>
                <span class="shop__subtitle">Клікер сніжинка (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/49.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 131</h3>
                <span class="shop__subtitle">Клікер касіопея (дейт, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/48.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 132</h3>
                <span class="shop__subtitle">Клікер тріпл (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/47.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 133</h3>
                <span class="shop__subtitle">Клікер кришталева тіара (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/46.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 134</h3>
                <span class="shop__subtitle">Клікер інфініті (ніс/дейт)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/45.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 135</h3>
                <span class="shop__subtitle">Накрутка принцеса з рожевим цирконом у пронгу (конч, мочка, трагус, флет, руук, мідлхелікс, хелікс, антітрагус/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/44.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 136</h3>
                <span class="shop__subtitle">Підвіска стік довгий (додаткові прикраси)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/43.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 137</h3>
                <span class="shop__subtitle">Накрутка витягнутий ромб з трьома білими цирконами (конч, форвард хелікс, хелікс, флет, трагус, мідлхелікс, антітрагус, мочка /ніс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/42.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 138</h3>
                <span class="shop__subtitle">Підвіска з витягнутим ромбом з трьома білими цирконами (додаткові прикраси)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/41.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 139</h3>
                <span class="shop__subtitle">Ланцюжок. Доступні в різних розмірах (ніс/вухо/соски)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/40.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 140</h3>
                <span class="shop__subtitle">Накрутка принцеса з райдужним цирконом у пронгу (трагус, мочка, антітрагус, форвардхелікс, флет, хелікс, конч, руук, мідлхелікс/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/39.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 141</h3>
                <span class="shop__subtitle">Підвіска з витягнутим ромбом з білим цирконом (додаткові прикраси)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/38.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 142</h3>
                <span class="shop__subtitle">Підвіска крапля (додаткові прикраси)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/37.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 143</h3>
                <span class="shop__subtitle">Трилисник квітка з білими цирконами (форвард хелікс, хелікс, мідлхелікс, флет, мочка, трагус, антітрагус, конч/ніс/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/36.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 144</h3>
                <span class="shop__subtitle">Плаский топ у вигляді місяця з маленьким кабашоном білого циркона (форвард хелікс, хелікс, мідлхелікс, флет, мочка, трагус, антітрагус, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/35.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 145</h3>
                <span class="shop__subtitle">накрутка з підвіскою білого циркону у вигляді крапельки ( мочка, руук, трагус, хелікс, піна, форвард хелікс, конч, антітрагус)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/34.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 146</h3>
                <span class="shop__subtitle">Круглий топ віночек з білими цирконами (мочки, флет, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/33.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 147</h3>
                <span class="shop__subtitle">Круглий топ віночек з білими цирконами (мочки, флет, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/32.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 148</h3>
                <span class="shop__subtitle">Білий квадратний циркон у пронгу 2.5, 3, 3.5мм (мочки, конч, трагус, антітрагус, флет/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/31.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 149</h3>
                <span class="shop__subtitle">Накрутка принцеса з білим цирконом у пронгу ( мочка, флет, хелікс/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/30.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 150</h3>
                <span class="shop__subtitle">Пронг з чорним оніксом (соски/губа/ антітрагус, конч, мочка, хелікс/ пупок/ брова/язик)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/29.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 151</h3>
                <span class="shop__subtitle">Пронг з опалітом 4, 5мм (соски/губа/антітрагус, конч, мочка, хелікс/ пупок/брова/язик)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/28.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 152</h3>
                <span class="shop__subtitle">Пронг з лабрадоритом (соски/губа/антітрагус, конч, мочка, хелікс/ пупок/брова/язик)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/27.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 153</h3>
                <span class="shop__subtitle">Пронг з місячним каменем (соски/губа/антітрагус, конч, мочка, хелікс/ пупок/брова/язик)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/26.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 154</h3>
                <span class="shop__subtitle">Пронг з моховим агатом (соски/губа/конч, мочка, хелікс/ пупок/язик)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/25.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 155</h3>
                <span class="shop__subtitle">Кабашон з моховим агатом (язик/мікродермал/ конч, флет, мочка/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/24.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 156</h3>
                <span class="shop__subtitle">Карп коі (мідлхелікс, конч, хелікс, флет, трагус, антітрагус, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/23.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 157</h3>
                <span class="shop__subtitle">Накрутка гілочка з трьома маркізами з білими цирконами ( конч, мочка, флет, хелікс, антітрагус, трагус, руук)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/22.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 158</h3>
                <span class="shop__subtitle">Класичний кластер з білими цирконами ( хелікс, флет, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/21.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 159</h3>
                <span class="shop__subtitle">Кластер Фрост з білими цирконами (хелікс, флет, конч, мідлхелікс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/20.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 160</h3>
                <span class="shop__subtitle">Накрутка mini iren з білими цирконами (мочка, хелікс, флет, конч, трагус, антітрагус/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/19.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 161</h3>
                <span class="shop__subtitle">Витягнутий кластер з 9 білих цирконів (хелікс, флет, конч, мочка, мідлхелікс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/18.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 162</h3>
                <span class="shop__subtitle">Пріум з білими цирконами (хелікс, флет, конч, мочка, мідлхелікс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/17.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 163</h3>
                <span class="shop__subtitle">Кластер з сьома маркізами (хелікс, флет, конч, мочка, мідлхелікс)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/16.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 164</h3>
                <span class="shop__subtitle">Класичний кластер з цирконами кольору шампань ( хелікс, флет, конч, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/15.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 165</h3>
                <span class="shop__subtitle">Кластер фрост з зеленими цирконами (хелікс, конч, флет)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/14.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 166</h3>
                <span class="shop__subtitle">Міні накрутка колюча проволока ( мочка, трагус, флет, хелікс, мідлхелікс, форвад хелікс, конч, антітрагус, руук)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/13.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 167</h3>
                <span class="shop__subtitle">Пріум з фіолетовими опалами і білими цирконами (хелікс, флет, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/12.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 168</h3>
                <span class="shop__subtitle">Накрутка mini iren з моховим агатом ( конч, флет, хелікс, мідлхелікс, антітрагус, трагус, мочка/ губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/11.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 169</h3>
                <span class="shop__subtitle">Три маркізи з чорним цирконом (конч, хелікс, флет, антітрагус, трагус, мочка, руук)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/10.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 170</h3>
                <span class="shop__subtitle">Три маркізи з місячним каменем (хелікс, флет, конч, руук, трагус, антітрагус, мідлхелікс, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/9.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 171</h3>
                <span class="shop__subtitle">Кобра (мочка, флет, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/8.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 172</h3>
                <span class="shop__subtitle">Пріум з білими опалами і темно синіми цирконами (конч, флет, хелікс, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/7.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 173</h3>
                <span class="shop__subtitle">Міні пріум з рожевими цирконами (Мочка, флет, конч, хелікс, мідлхелікс, антітрагус, трагус, руук)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/6.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 174</h3>
                <span class="shop__subtitle">Метелик з рожевими і білими цирконами (мочка, хелікс, флет, трагус, конч, антітрагус/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/5.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 175</h3>
                <span class="shop__subtitle">Маркіз з червоним оніксом (ніс/ мочка, трагус, антітрагус, руук, конч, хелікс, форвард хелікс, флет/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/4.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 176</h3>
                <span class="shop__subtitle">Гілочка з маркізами місячний камінь (конч, хелікс, флет, мідлхелікс, антітрагус, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/3.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 177</h3>
                <span class="shop__subtitle">Гілочка з маркізами аметист (конч, хелікс, флет, мідлхелікс, антітрагус, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/2.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 178</h3>
                <span class="shop__subtitle">Гілочка з маркізами тигрове око (конч, хелікс, флет, мідлхелікс, антітрагус, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/1.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 179</h3>
                <span class="shop__subtitle">Три маркізи зелений онікс (хелікс, флет, конч, руук, трагус, антітрагус, мідлхелікс, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/71.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 180</h3>
                <span class="shop__subtitle">Безл синій циркон (ніс/трагус, хелікс, флет, форвард хелікс, антітрагус, руук, конч, мідлхелікс, мочка/губа) </span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/72.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 181</h3>
                <span class="shop__subtitle">Безл зелений циркон (ніс/трагус, хелікс, флет, форвард хелікс, антітрагус, руук, конч, мідлхелікс, мочка/губа) </span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/73.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 182</h3>
                <span class="shop__subtitle">Безл фіолетовий циркон (ніс/трагус, хелікс, флет, форвард хелікс, антітрагус, руук, конч, мідлхелікс, мочка/губа) </span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/79.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 183</h3>
                <span class="shop__subtitle">Безл білий циркон (ніс/трагус, хелікс, флет, форвард хелікс, антітрагус, руук, конч, мідлхелікс, мочка/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/75.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 184</h3>
                <span class="shop__subtitle">Iren з чорним фіанітом (мочка, флет, конч, антітрагус/губа)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/76.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 185</h3>
                <span class="shop__subtitle">Кластер «бумеранг» з білими цирконами (хелікс, флет, конч, мідлхелікс, мочка)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/77.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 186</h3>
                <span class="shop__subtitle">Клікер з добатковою доріжкою з білими цирконами (мочка/ніс/хелікс, трагус, руук) </span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/78.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 187</h3>
                <span class="shop__subtitle">Клікер з боковою доріжкою білих цирконів (ніс/мочка, хелікс, трагус, руук)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
            <div class="shop__content">
                <div class="shop__tag">Новинки</div>
                    <img src="./images/items/74.JPG" alt="products" class="shop__img">
                <h3 class="shop__title">Код товару: 188</h3>
                <span class="shop__subtitle">Накрутки міні ромби чорний/білий циркони (ніс/губа/мочка, хелікс, флет, трагус, форвард хелікс, мідлхелікс, руук, антітранус, конч)</span>
                    <div class="shop__categ"></div>
                <a href="tel:380955145229" class="button shop__phone">
                    <i class="bx bx-phone shop__icon"></i>
                </a>
                <!-- <a href="https://telegram.org/a/#1149191336:~:text=https%3A//bookon.ua/lite/redinherd_piercing%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaZ94lwWGFbgCu6xU8aF5q4hPZa2gILUZG1RGWyBUA0_HEs0C46qyNAUmrs_aem_mwFm8N_RJw%2DSJxdVH3QhlQ" target="_blank" class="button shop__button">
                    <i class="bx bx-cart-alt shop__icon"></i>
                </a> -->
            </div>
        </div>
    </div>
</section>