---
import './newsletter.scss';
---

<section class="newsletter section">
    <div class="newsletter__container container">
        <h2 class="section__title">Співпраця</h2>
        <!-- <p class="newsletter__description">пишіть нам на єлектронну пошту!</p> -->
        <form action="" class="newsletter__form">
            <input type="text" placeholder="Введіть вашу єлектронну пошту" class="newsletter__input">
            <button type="button" class="button">Відправити</button>
        </form>
    </div>
</section>