---
import Header from '@components/base/header/header.astro';
import Footer from '@components/base/footer/footer.astro';
import Login from '@components/base/login/login.astro';
import './main.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
		<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Login />
		<slot />
		<Footer />
		<script src="./../js/main.js"></script>
	</body>
</html>